

body {
background-color: rgb(230, 230, 200);
color: blue;
font-family: Courier;
}




div {border-style: ;
	background: rgb(240, 240, 240);
	border: 2px solid grey;
	margin: 80px
	padding: 40px
}